/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
header a {
	color: rgb(152, 173, 166);
	text-decoration:none;
}
h1 {
	font-size: 5em;
	font-family: 'Baskerville', serif;
	margin: 0 0 5px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(204, 204, 204);
}
#featured img{
	border-width: 5px;
	border-style: solid;
	border-color: rgb(152, 173, 166);
}
h2	{
	color: rgb(111,127,122);
  font-size: 2em;
	font-weight: bold;
}
p {
	color: #555;
	font-size: 1em;
	margin: 0 0 20px 0;
}
.small {
	font-size: 0.8em;
}
footer{
	text-align: right;
}
#press {
	margin-bottom: 20px;
}
#press img{
	border-width: 5px;
	border-style: solid;
	border-color: #ccc;
}
a{
	text-decoration-line: none;
}
